<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Flying squirrel</title>


<body>
<div class="logo">
    <img src ="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a href="/about">O nas</a>
        <ul>
            <li><a a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
        <ul>
            <li><a href="/afryka">Afryka</a></li>
            <li><a href="/amerykapld">Ameryka Południowa</a></li>
            <li><a href="/amerykapln">Ameryka Północna</a></li>
            <li><a href="/australia">Australia</a></li>
            <li><a href="/azja">Azja</a></li>
            <li><a href="/europa">Europa</a></li>
        </ul>
    </li>
    <li><a href="/bezpieczne">Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="koronawirus">Koronawirus</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a>Moje konto</a>
        <ul>
            <li><a href="/login">Zaloguj</a></li>
            <li><a href="/zarejestruj">Zarejestruj</a></li>
        </ul>
    </li>
    <h1> KILKA SŁÓW O NAS </h1>
    <p>FLYING SQURREL powstało w 2020 r. na potrzeby zajęć JAVA w Connectis i od tego czasu zajmuje pozycję niekwestionowanego lidera branży turystycznej. FLYING SQURREL jest konsekwencją paru miesięcy pracy i mało przemyślanego rozwoju projektu. Firma powstała z pasji do JAVY, co pozwoliło nie tylko traktować projekt, jako zaliczenie kursu i uzyskanie certyfikatu, ale także, jako drogę do realizacji hobby.
        W ciągu swojej działalności FLYING SQURREL podejmowała pionierskie działania na polu rozwijającej się turystyki zagranicznej wyjazdowej: autorskie programy wycieczek objazdowych i kreacja nowych kierunków wczasowych obsługiwanych czarterami. FLYING SQURREL ma w ofercie wypoczynek w blisko 100 miejscach na całym świecie. Co roku wydawane są 2 edycje katalogów: LATO i ZIMA. W swojej ofercie posiadamy także propozycje luksusowego wypoczynku i wycieczek dla najbardziej wymagających Klientów, a także wyjazdy dla miłośników aktywnego wypoczynku.
        Strategia rozwoju to dalsze inwestycje w destynacje i sieć sprzedaży, a także wdrażanie nowych technologii. Duży nacisk kładziony jest na jakość obsługi klientów podczas wakacji. Z tego powodu trwają intensywne prace nad stworzeniem nowych struktur w destynacjach, gwarantujących najlepszy serwis na miejscu. Tuż przed rozpoczęciem sezonu Lato 2012, powstała firma Fuerte Itaka, agencja incoming ITAKI. Fuerte Itaka zasięgiem obejmuje archipelag Wysp Kanaryjskich i część Hiszpanii kontynentalnej. Obecnie ITAKA posiada swoje biura na Gran Canarii, Lanzarote, Fuerteventurze, Teneryfie, w Alicante, Barcelonie i na Majorce.
        Sprawdź nas!</p>
</body>
</html>