<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Flying squirrel</title>


<body>
<div class="logo">
    <img src ="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a>O nas</a>
        <ul>
            <li><a a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
    </li>
    <li><a>Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="koronawirus">Koronawirus</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a>Moje konto</a>
        <ul>
            <li><a href="/login">Zaloguj</a></li>
            <li><a href="/zarejestruj">Zarejestruj</a></li>
        </ul>
    </li>
</ul>
    <div class="opis">
        <span class="text5"></span>
        <span class="text3">KILKA SŁÓW O NAS</span>
        <span class="text4">FLYING SQURREL powstało w 2020 r. na potrzeby zajęć JAVA w Connectis i od tego czasu zajmuje pozycję niekwestionowanego lidera branży turystycznej. FLYING SQURREL jest konsekwencją paru miesięcy pracy i przemyślanego rozwoju projektu biznesowego. Firma powstała z pasji do JAVY, co pozwoliło nie tylko traktować projekt, jako zaliczenie kursu i uzyskanie certyfikatu, ale także, jako drogę do realizacji hobby.
W ciągu swojej działalności FLYING SQURREL podejmowała pionierskie działania na polu rozwijającej się turystyki zagranicznej wyjazdowej: autorskie programy wycieczek objazdowych i kreacja nowych kierunków wczasowych obsługiwanych czarterami. FLYING SQURREL ma w ofercie wypoczynek w blisko 100 miejscach na całym świecie. W swojej ofercie posiadamy także propozycje luksusowego wypoczynku i wycieczek dla najbardziej wymagających Klientów, a także wyjazdy dla miłośników aktywnego wypoczynku.
Strategia rozwoju to dalsze inwestycje w destynacje i sieć sprzedaży, a także wdrażanie nowych technologii. Duży nacisk kładziony jest na jakość obsługi klientów podczas wakacji. Z tego powodu trwają intensywne prace nad stworzeniem nowych struktur w destynacjach, gwarantujących najlepszy serwis na miejscu. </span>
<!--        <span class="text6"> Nasze kierunki:-->
<!--            <ul class="a">-->
<!--                <li>Afryka</li>-->
<!--                <li>Ameryka Południowa</li>-->
<!--                <li>Ameryka Północna</li>-->
<!--                <li>Australia</li>-->
<!--                <li>Azja</li>-->
<!--                <li>Europa</li>-->
<!--            </ul>-->
        <div class="palm">
            <img src ="Images/simpson.gif">
        </div>
        <p>&#128525; &#9992; &#128509; &#128205; &#129409; &#10084; &#127754; &#9969;</p>
        </span>
    </div>
</body>
</html>