<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="dependent-dropdown.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="dependent-dropdown.min.js" type="text/javascript"></script>
    <title>Flying squirrel</title>


<body>
<div class="logo">
    <img src="Images/fly.png">
</div>
<ul>
    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a>O nas</a>
        <ul>
            <li><a href="/informacje">Informacje</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </li>
    <li><a href="/kierunki">Kierunki</a>
    </li>
    <li><a>Bezpieczne Wakacje</a>
        <ul>
            <li><a href="informacjepodrozni">Ubezpieczenia</a></li>
            <li><a href="koronawirus">Koronawirus</a></li>
            <li><a href="zglos">Zgłoś podróż </a></li>
            </li>
        </ul>
    <li><a>Moje konto</a>
        <ul>
            <li><a href="/login">Zaloguj</a></li>
            <li><a href="/zarejestruj">Zarejestruj</a></li>
        </ul>
    </li>
</ul>
    <p th:text="'Hello, ' + ${roomsList} + '!'"/>

    <select name="kontynent" id="kontynenty" >
        <option value=""> -- </option>
        <option th:each="continent : ${continentsList}"
                th:value="${continent.continentId}"
                th:utext="${continent.continent}"

        />
    </select>

    <select id="kraje" class="form-control">
        <!-- your select options -->
    </select>

    <select id="hotele" class="form-control">
        <!-- your select options -->
    </select>
    <select id="pokoje" class="form-control">
        <!-- your select options -->
    </select>

    <select id="cena" class="form-control">
        <!-- your select options -->
    </select>
    <!-- Javascript call on document ready -->
    <script>
    function getParameterByName( name ) //courtesy Artem
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
  {
    if ((results[1].indexOf('?'))>0)
        return decodeURIComponent(results[1].substring(0,results[1].indexOf('?')).replace(/\+/g, " "));
    else
        return decodeURIComponent(results[1].replace(/\+/g, " "));
  }
}
    var selectedContinent = getParameterByName('continentId');
    jQuery('select#kontynenty').val(selectedContinent).attr('selected', 'selected');


    // Child # 1
    $("#kraje").depdrop({
        url: 'countries',
        depends: ['kontynenty'],
        initialize: true
    });

    // Child # 2
    $("#hotele").depdrop({
        url: 'hotels',
        depends: [ 'kraje']
    });
       $("#pokoje").depdrop({
        url: 'pokoje',
        depends: [ 'hotele']
    });

    $("#cena").depdrop({
        url: 'cena',
        depends: [ 'pokoje']
    });
</script>
<table id="holidays">
    <tr>
        <th>Kontynent</th>
        <th>Kraj</th>
        <th>Hotel</th>
        <th>Opis</th>
        <th>Pokoje/os.</th>
        <th>Cena/os.</th>
    </tr>
    <tr>
        <td>Afryka</td>
        <td>Kenia</td>
        <td>Safari Nights Hotel</td>
        <td>blabla</td>
        <td>2</td>
        <td>2500</td>
    </tr>
    <tr>
        <td>Afryka</td>
        <td>Kenia</td>
        <td>Luxury African Hotel</td>
        <td></td>
        <td>2</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Peru</td>
        <td>Llama's Hotel </td>
        <td></td>
        <td>3</td>
        <td>3500</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Peru</td>
        <td>Pensylvania </td>
        <td></td>
        <td>2</td>
        <td>4000</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Chile</td>
        <td>Patagonia Hotel</td>
        <td></td>
        <td>4</td>
        <td>5000</td>
    </tr>
    <tr>
    <td>Australia</td>
    <td>Australia - Sydney</td>
    <td>Sydney Resort&SPA</td>
    <td></td>
    <td>2</td>
    <td>4000</td>
    </tr>
    <tr>
        <td>Australia</td>
        <td>Australia - Sydney</td>
        <td>Sydney Resort&SPA</td>
        <td></td>
        <td>4</td>
        <td>6000</td>
    </tr>
    <tr>
        <td>Australia</td>
        <td>Australia - Sydney</td>
        <td>Kangaroo SPAtime</td>
        <td></td>
        <td>2</td>
        <td>1500</td>
    </tr>
    <tr>
        <td>Ameryka Północna</td>
        <td>USA</td>
        <td>Big Burgers Hotel</td>
        <td></td>
        <td>3</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>Ameryka Północna</td>
        <td>USA</td>
        <td>West Coast Residence</td>
        <td></td>
        <td>2</td>
        <td>4500</td>
    </tr>
    <tr>
        <td>Ameryka Północna</td>
        <td>USA</td>
        <td>Sunset Resort</td>
        <td></td>
        <td>2</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>Ameryka Północna</td>
        <td>Kanada</td>
        <td>VeryNiceHotel</td>
        <td></td>
        <td>4</td>
        <td>5500</td>
    </tr>
    <tr>
        <td>Europa</td>
        <td>Włochy</td>
        <td>Heaven Resort&SPA</td>
        <td></td>
        <td>2</td>
        <td>1500</td>
    </tr>
    <tr>
        <td>Europa</td>
        <td>Włochy</td>
        <td>Spaghetti Hotel</td>
        <td></td>
        <td>2</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>Europa</td>
        <td>Hiszpania</td>
        <td>Costa Hotel</td>
        <td></td>
        <td>3</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>Europa</td>
        <td>Hiszpania</td>
        <td>Las Ramblas Hotel</td>
        <td></td>
        <td>2</td>
        <td>2000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Wietnam</td>
        <td>Da Nang Bay Resort</td>
        <td></td>
        <td>2</td>
        <td>4000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Wietnam</td>
        <td>Da Nang Bay Resort</td>
        <td></td>
        <td>3</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Wietnam</td>
        <td>Da Nang Bay Resort</td>
        <td></td>
        <td>4</td>
        <td>6500</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Wietnam</td>
        <td>Viet Hotel</td>
        <td></td>
        <td>2</td>
        <td>2500</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Tajlandia</td>
        <td>Thaisty Hotel</td>
        <td></td>
        <td>2</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Tajlandia</td>
        <td>Thaisty Hotel</td>
        <td></td>
        <td>4</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Tajlandia</td>
        <td>Thaisty Hotel</td>
        <td></td>
        <td>3</td>
        <td>3500</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Tajlandia</td>
        <td>Bangkok Hotel</td>
        <td></td>
        <td>3</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Singapur</td>
        <td>Singha Hotel</td>
        <td></td>
        <td>2</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>Azja</td>
        <td>Singapur</td>
        <td>Singha Hotel</td>
        <td></td>
        <td>3</td>
        <td>5500</td>
    </tr>
    <tr>
    <td>Azja</td>
    <td>Singapur</td>
    <td>Singha Hotel</td>
    <td></td>
    <td>4</td>
    <td>6500</td>
</tr>    <tr>
    <td>Europa</td>
    <td>Francja</td>
    <td>Louvre Hotel</td>
    <td></td>
    <td>2</td>
    <td>2000</td>
</tr>
    <tr>
    <td>Europa</td>
    <td>Francja</td>
    <td>Louvre Hotel</td>
    <td></td>
    <td>3</td>
    <td>3000</td>
</tr>
    <tr>
        <td>Europa</td>
        <td>Portugalia</td>
        <td>Lagos Resort</td>
        <td></td>
        <td>3</td>
        <td>2000</td>
    </tr>

    <tr>
        <td>Europa</td>
        <td>Portugalia</td>
        <td>Lagos Resort</td>
        <td></td>
        <td>4</td>
        <td>2500</td>
    </tr>
    <tr>
        <td>Ameryka Północna</td>
        <td>Kanada</td>
        <td>Toronto Express Hotel</td>
        <td></td>
        <td>2</td>
        <td>8000</td>
    </tr>
    <tr>
        <td>Afryka</td>
        <td>RPA</td>
        <td>Lion's Cave Resort</td>
        <td></td>
        <td>2</td>
        <td>9000</td>
    </tr>
    <tr>
        <td>Afryka</td>
        <td>Namibia</td>
        <td>Sunrise Resort&SPA</td>
        <td></td>
        <td>2</td>
        <td>5500</td>
    </tr>
    <tr>
        <td>Afryka</td>
        <td>Namibia</td>
        <td>Sunrise Resort&SPA</td>
        <td></td>
        <td>3</td>
        <td>7500</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Brazylia</td>
        <td>Rio Hotel</td>
        <td></td>
        <td>2</td>
        <td>6000</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Brazylia</td>
        <td>Gorila’s Hotel </td>
        <td></td>
        <td>2</td>
        <td>2750</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Meksyk</td>
        <td>Tortilla Hotel </td>
        <td></td>
        <td>2</td>
        <td>4000</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Meksyk</td>
        <td>Tortilla Hotel</td>
        <td></td>
        <td>3</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>Ameryka Południowa</td>
        <td>Meksyk</td>
        <td>Tequila Hotel </td>
        <td></td>
        <td>4</td>
        <td>7000</td>
    </tr>
</table>

</body>
</html>