<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="StyleZarejestruj.css">
    <title>Strona do logowania</title>
</head>
<body>

<form action="login" method="post">
    <div class="container">
        <label for="imie"><b>Imię</b></label> <b><input type="imie" name="Imie" required></b>
        <label for="nazwisko"><b>Nazwisko</b></label> <input type="nazwisko" name="nazwisko" required>
        <label for="data"><b>Data urodzenia</b></label> <input type="data" name="data" required>
        <label for="kraj"><b>Kraj</b></label> <input type="kraj" name="kraj" required>
        <label for="haslo"><b>Hasło</b></label> <input type="haslo" name="haslo" required>
        <label for="powtorzhaslo"><b>Powtórz hasło</b></label> <input type="powtorzhaslo" name="powtorzhaslo" required>
        <button type="submit">Zarejestruj</button>
    </div>
</form>
<ul>
    <li><a href="/">Powrót</a></li>
</ul>
</body>
</html>